.header-container {
  background-color: #9ADBD5;
  background-image: url('../../assets/rick.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  width: 100vw;
  height: auto;
  padding-bottom: 260px;

  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    font-weight: 900;
    color: #F5F5F5;
    text-shadow: 1px 2px 3px #0000002f;
    padding-bottom: 40px;
    

  }

  .filter-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 40px;
    

    input {
      padding: 12px 18px;
      border: none;
      border-radius: 8px;
    }
    button {
      padding: 8.5px 18px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: #03776b;
      color: #fff;
      font-size: 1.30rem;
      font-weight: 900;
      
    }

  }

  .datas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;

  }
  .page-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;

    .page-content {
      background-color: #fff;
      border-radius: 8px;
      display: flex;
      gap: 20px;
      padding: 10px;
      box-shadow: 1px 2px 3px #0000002f;

      .page-image {
        width: 200px;
        height: 200px;
        background-color: #03776b;
        border-radius: 8px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          background-size: cover;
          object-fit: cover;
        }

      }

      .page-descript {
        
        p {
          //line-height: 1.9;
          padding-bottom: 20px;
        }

        .fa-cross {
          color: #f63232;
        }
        .fa-circle {
          color: #3ec53e;
        }
        .character-status {
          display: flex;
          justify-content: space-between;
        }
      }

    }

  }

  .page-btn {
    display: flex;
    padding-left: 15%;
    
    gap: 8px;

    button {
      padding: 12px;
      border: none;
      border-radius: 8px;
      background-color: #fff;
      cursor: pointer;
      box-shadow: 1px 2px 3px #0000002f;

      &:hover {
        background-color: #03776ba8;
        color: #fff;
      }

    }
  }

  



}